################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SheepFinance/bin/Debug
/SheepFinance/.vs
SheepFinance/obj/
